@model CmsShoppingCart.Models.Page

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Page</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Slug)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Slug)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sorting)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sorting)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", null, null, new { @class = "btn btn-outline-info text-black algin-items-center" }) |
    <a asp-action="Index" class="btn btn-outline-primary text-black">Back to List</a>
</div>
